<p-card class="w-12 h-full">
  <ng-template pTemplate="header">
      <div class="flex justify-content-between flex-wrap">
          <h3 class="ml-4">
              Employee List
          </h3>
          <div class="mt-2 mr-2">
              <a 
                  pButton 
                  pRipple
                  label="Add Employee" 
                  icon="pi pi-user-plus"
                  class="bg-cyan-600"
                  [routerLink]="['/employees/new']">
              </a>
          </div>
      </div>
  </ng-template>

  <!-- Employee table -->
  <p-table [value]="employees">
      <ng-template pTemplate="header">
          <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Address</th>
              <th>Role</th>
              <th class="flex justify-content-center flex-wrap">Actions</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employee>
          <tr>
              <td>{{ employee.nombre }}</td>
              <td>{{ employee.telefono }}</td>
              <td>{{ employee.email }}</td>
              <td>{{ employee.direccion }}</td>
              <td>{{ employee.rol }}</td>
              <td>
                  <!-- Edit button -->
                  <a 
                      pButton 
                      pRipple
                      icon="pi pi-sync"
                      severity="warning"
                      class="mr-1"
                      [routerLink]="['/employees/edit', employee.id]">
                  </a>

                  <!-- Delete button -->
                  <button 
                      pButton 
                      pRipple
                      severity="danger"
                      icon="pi pi-eraser"
                      class="mr-1"
                      (click)="deleteEmployee(employee.id)">
                  </button>
              </td>
          </tr>
      </ng-template>
  </p-table>
</p-card>
